body {
    margin: 0;
}
.wrapper{
    border-top: 8px solid #a292b3;
    display: flex;
   /* justify-content: center; /*flex-start , flex-end, center*/
    flex-direction: column;
    align-items: center; 
}
.header{
    height: 130px;
    width: 1020px;
    display:flex;
    align-items: center;
    justify-content:space-between;  /*space-arround равомерн распределяются по левому и правому блоку, space-beetwin прилепляются к правому и левому блоку */
}




.link-item{
    text-decoration: none;
    font-size: 19px;
    color: #545454;
    text-transform: capitalize;
    margin-right: 65px; /* отступы*/
}
.link-item:last-child{
    margin-right: 0;
}
.banner{
    width: 1020px;
    height: 485px;
    background-color: yellow;
    background-image: url('../images/Layer\ 24.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.slide-btn{
    width: 35px;
    height: 65px;
    background-color: #82699d;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.banner-title{
    text-transform: capitalize;
    font-size: 117px;
    text-shadow: -4px 5px 0 rgba(0,0 ,0,.45);
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.banner-descr{
    font-size: 31px;
    text-shadow: -2px 2px 0 rgba(0,0 ,0,.75);
}
.tips{
    
    width: 1020px;
    border-top: 1px solid #bfbfbf;
    border-bottom: solid 1px #bfbfbf;
    padding: 20px 50px 25px 50px;
    margin-top: 40px;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    line-height: 32px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tips-bold{
    font-weight: bold;
    color: #82699d;
}
.card{
    width: 1020px;
    padding: 0 22px;
    box-sizing: border-box; 
    height: 315px;
    display: flex;
    position: relative;
    margin-top: 31px;
    align-items: center;


}

.card-info{

    margin-left: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-title{
    font-weight: bold;
    font-size: 31px;
}
.card-text{
    font-weight: 400;
    font-size: 15px;
    color: #838383;
}
.more{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    font-style: italic;
    color: #838383;
    cursor: pointer;

}
.more:hover{
    color: purple;
    filter: hue-rotate(120deg);
}
.divider{
    width: 1020px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    display: flex;
    align-items: center;
}
.divider-line{
    width: 100%;
    margin-left: 8px;
    border-top: 6px dotted #bfbfbf;
}
.divider-text{
        white-space: nowrap; /*Запрет на автоматический перенос текста */
}
.clients{
    margin-top: 44px;
    margin-bottom: 61px;
    background-color: #f5f5f5;
    display: flex;
    width: 1020px;
    border: solid 1px #e4e4e4;
    box-sizing: border-box;
}
.client-item{
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e4e4e4;
}
.client-item:last-child{
    border-right: none;
}
.footer{
    width: 100%;
    height: 67px;
    background: linear-gradient(to right, red 20%, yellow 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid #a292b3;

}
.footer-content{
    width: 1020px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.social{
    width: 83px;
    justify-content: space-between;
}
.menu{
    width: 80px;
    height: 80px;
    border: 3px solid #82699d;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
.menu-line{
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: relative;
    transition: 0.3s;
}
.menu-line::before{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    bottom: 15px;
}
.menu-line::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    top: 15px;
}
.menu:hover > .menu-line{
    background-color: transparent;
    
}
.menu:hover > .menu-line::after{
    transform: rotate(-45deg);
    top: 0;
    
}
.menu:hover > .menu-line::before{
    transform: rotate(45deg);
    bottom: 0;
}


@media screen and (max-width: 1020px){
    .header{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;

    }
    .logo{
        width: 150px;
    }
    .banner{
        width: 100%;
    }
    .banner-title{
        font-size: 70px;
    }
    .tips{
        width: 100%;
    }
    .card{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .divider{
        width: 100%;
        justify-content: center;
    }
    .divider-text{
        font-size: 17px;
    }
    .divider-line{
        display: none;
    }
    .clients{
        width: 100%;
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .footer-content{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .menu{
        display: flex;
    }
}
/*bitbucket.org

github.com

gitlab.com

git config user.name Eugeniu Voitishkin
git config user.email Parok_07@mail.ru

git init
git pull- свежие данные из репазитория
git push - отправляю коммит

git add .
git commit -m 'add comment'
*/